/* --- Section 1 - ACCUEIL --- */
.parallax_accueil {
  width: 100vw;
  height: 100vh;
}
.parallax_accueil::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("../media/img/motif1.svg");
  background-attachment: fixed;
  background-size: 100% 200%;
  background-repeat: repeat;
  filter: opacity(20%);
  animation: parallax 8s infinite linear;
}
.parallax_accueil .smoothie div::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 260px;
  background-image: url("../media/img/fruit1.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 600px;
  left: 40px;
  rotate: 45deg;
  transform: scaleX(-1);
}
.parallax_accueil .smoothie div::after {
  content: "";
  position: absolute;
  width: 260px;
  height: 260px;
  background-image: url("../media/img/fruit2.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 300px;
  right: 100px;
}
.parallax_accueil .smoothie h1 {
  margin-top: 50px;
  text-align: center;
  color: #f8f3ef;
  font-family: "cherryplfumpy";
  font-size: 40px;
}
.parallax_accueil .smoothie p {
  text-align: center;
  color: #f8f3ef;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.parallax_accueil .smoothie img {
  position: absolute;
  bottom: -320px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 1000px;
  pointer-events: none;
}

.accueil_section {
  background-color: #f8f3ef;
  text-align: center;
}
.accueil_section h2 {
  padding-top: 90px;
  text-align: center;
  font-family: "cherryplfumpy";
  color: #d93f4c;
  font-size: 40px;
}
.accueil_section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.accueil_section div .cartes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #d93f4c;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 40px 0px;
  width: 500px;
  height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}
.accueil_section div .cartes:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.accueil_section div .cartes a {
  text-decoration: none;
}
.accueil_section div .cartes a .smoothie_mango,
.accueil_section div .cartes a .smoothie_berry,
.accueil_section div .cartes a .smoothie_green {
  width: 280px;
  position: absolute;
  top: 60px;
  left: -90px;
  transition: all 0.3s ease-in-out;
}
.accueil_section div .cartes a .smoothie_mango:hover,
.accueil_section div .cartes a .smoothie_berry:hover,
.accueil_section div .cartes a .smoothie_green:hover {
  width: 360px;
  top: 8%;
  right: 6%;
}
.accueil_section div .cartes a div {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.accueil_section div .cartes a div h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #d93f4c;
  font-size: 40px;
  margin-bottom: 10px;
}
.accueil_section div .cartes a div .menu-price {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  padding-bottom: 20px;
}

/* Responsive Design */
/* --- Section 1 - ACCUEIL --- */
@media (max-width: 768px) {
  .parallax_accueil {
    height: 50vh;
  }
  .parallax_accueil::before {
    content: "";
    background-size: initial;
  }
  .parallax_accueil .smoothie {
    position: relative;
    z-index: 1;
  }
  .parallax_accueil .smoothie div::before,
  .parallax_accueil .smoothie div::after {
    display: none;
  }
  .parallax_accueil .smoothie h1 {
    font-size: 30px;
  }
  .parallax_accueil .smoothie p {
    display: none;
  }
  .parallax_accueil .smoothie img {
    bottom: -340px;
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
  }
  .accueil_section {
    position: relative;
    z-index: 0;
  }
  .accueil_section div {
    flex-direction: column;
  }
  .accueil_section div .cartes {
    width: 300px;
    height: 200px;
  }
  .accueil_section div .cartes .smoothie_mango,
  .accueil_section div .cartes .smoothie_berry,
  .accueil_section div .cartes .smoothie_green {
    width: 280px;
    left: calc(15% - 140px);
    transition: none;
  }
}
@media (max-width: 425px) {
  .parallax_accueil .smoothie {
    position: relative;
    z-index: 1;
  }
  .parallax_accueil .smoothie img {
    bottom: -340px;
  }
  .accueil_section {
    position: relative;
    z-index: 0;
  }
  .accueil_section div .cartes .smoothie_mango,
  .accueil_section div .cartes .smoothie_berry,
  .accueil_section div .cartes .smoothie_green {
    transition: none;
  }
}/*# sourceMappingURL=accueil.css.map */